/.bundle
/.ruby-version
/spec/fixtures/.librarian
/spec/fixtures/.tmp
/spec/fixtures/Puppetfile.lock
/spec/fixtures/vendor
/spec/fixtures/modules
!/spec/fixtures/modules/projects
!/spec/fixtures/modules/people
